<h2 class="title">Equipment</h2>
<!-- os -->
{{comparison-line title="OS" left=prospect.operatingSystem.values right=job.operatingSystem.values}}
<!-- computer -->
{{comparison-line title="Machinery" left=prospect.computer.value right=job.computer.value}}