<h2 class="title">Work Profile</h2>
<!-- job chart -->
{{profile-chart profile=jobProfile}}
<!-- prospect chart -->
{{profile-chart profile=prospectProfile display="prospect"}}
<!-- chart legend -->
{{profile-chart-legend columns=legendColumns}}