/**
  * Styles for overall app styles
  */

* {
  font-family: $font-family-default;
}

body {
  background: $color-background-default;
}

.app-title {
  text-align: center;
  text-transform: lowercase;
}
