/**
  * Styles for overall app styles
  */

* {
  font-family: $font-family-default;
}

body {
  background: $color-background-default;
}

.app-title {
  background: $color-background-default;
  padding-bottom: 3px;
  text-align: center;
  text-transform: lowercase;
}

.ember-tooltip {
  font-size: 11px;
}

.main-logo {
  color: $color-high;
  display: block;
  font-size: 30px;
  margin: 0 auto;
  text-align: center;

  > .logo {
    margin-left: 2px;
  }
}
