/**
  * Variables for overall app styles
  */

/******************************** Colors */
// Palatte
$color-1: #99B898;
$color-2: #FECEAB;
$color-3: #FF847C;
$color-4: #E84A5F;
$color-5: #2A363B;
$color-6: #99A9C5;
// Variables
$color-font-default: $color-5;
$color-font-default-faded: transparentize($color-font-default, 0.5);
$color-low: $color-2;
$color-mid: $color-1;
$color-high: $color-3;
$color-good: $color-1;
$color-bad: $color-4;
$color-border-default: $color-font-default-faded;
$color-background-default: #EEE;
$color-card-background-default: #F7F7F7;
$color-card-background-hover: darken($color-card-background-default, 3%);
$color-card-background-job: lighten(desaturate($color-6, 15%), 20%);
$color-card-background-prospect: lighten(desaturate($color-1, 10%), 20%);

/******************************** Fonts */
$font-family-default: 'Montserrat', sans-serif;
$font-family-text: 'Lato', sans-serif;
// FontAwesome
$fa-font-path: '../assets/fonts';

/******************************** Shadows */
$shadow-level-1: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);

/******************************** Other */
// Animation
$transition-duration: 0.5s;
$transition-duration-fast: 0.3s;
$transition-duration-slow: 0.8s;
$transition-duration-very-slow: 1s;
$transition-ease: cubic-bezier(0.42, 0, 0.58, 1);
