/**
  * Styles for card-info component
  */

.card.card-info {
  // Local Variables
  $avatar-height: 70px;
  $divit-height: 5px;

  // Styles
  background: $color-card-background-prospect;
  margin: 0;
  text-align: left;

  > .avatar {
    float: left;
    height: $avatar-height;
    margin: 0 10px 0 0;
    overflow: hidden;
    position: relative;
    width: $avatar-height;

    &::before,
    &::after {
      border-bottom: $divit-height solid transparent;
      border-left: $divit-height solid $color-card-background-prospect;
      border-right: $divit-height solid transparent;
      border-top: $divit-height solid $color-card-background-prospect;
      content: '';
      height: 0;
      left: 0;
      position: absolute;
      top: 0;
      width: 0;
    }

    &::after {
      border-bottom: $divit-height solid $color-card-background-prospect;
      border-left: $divit-height solid transparent;
      border-right: $divit-height solid $color-card-background-prospect;
      border-top: $divit-height solid transparent;
      bottom: 0;
      left: auto;
      right: 0;
      top: auto;
    }

    > .image {
      max-height: 100%;
      max-width: 100%;
    }
  }

  > .title {
    background: none;
    color: $color-font-default;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    margin: 3px 0 0;
    padding: 0;
    text-transform: uppercase;
  }

  > .headline {
    color: $color-font-default-faded;
    font-size: 16px;
    margin: 0;
    padding: 0;

    @include media('<tablet') {
      font-size: 14px;
      margin-bottom: 23px;
    }

    > .sub-headline {
      color: $color-font-default-faded;
      display: block;
      font-size: 12px;
      font-style: italic;
      margin: 10px 0 0;
      text-transform: uppercase;
    }
  }

  > .flair {
    color: $color-font-default-faded;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

    @include media('<tablet') {
      bottom: 5px;
      right: 50%;
      top: auto;
      transform: translateX(50%);
    }
  }

  &.is-employer {
    background: $color-card-background-job;
    text-align: right;

    @include media('<tablet') {
      padding-top: 28px;
    }

    &::after {
      @include media('<tablet') {
        top: -7em;
      }
    }

    > .avatar {
      float: right;
      margin: 0 0 0 10px;

      &::before {
        border-bottom: $divit-height solid transparent;
        border-left: $divit-height solid transparent;
        border-right: $divit-height solid $color-card-background-job;
        border-top: $divit-height solid $color-card-background-job;
        left: auto;
        right: 0;
      }

      &::after {
        border-bottom: $divit-height solid $color-card-background-job;
        border-left: $divit-height solid $color-card-background-job;
        border-right: $divit-height solid transparent;
        border-top: $divit-height solid transparent;
        bottom: 0;
        left: 0;
        right: auto;
        top: auto;
      }
    }

    > .headline {
      @include media('<tablet') {
        margin-bottom: 0;
      }
    }

    > .flair {
      left: 10px;
      right: auto;

      @include media('<tablet') {
        bottom: auto;
        left: auto;
        right: 50%;
        top: 5px;
        transform: translateX(50%);
      }
    }
  }
}
