/**
  * Styles for card type components
  */

.comparison-row {
  // Local Variables
  $font-size: 14px;
  $title-font-size: 13px;
  // Styles
  align-items: center;
  display: flex;
  font-size: $font-size;
  justify-content: space-between;
  margin: 0 0 5px;
  transition: all $transition-duration-fast $transition-ease;

  > .left,
  > .title,
  > .right {
    font-family: $font-family-text;
    text-align: center;
    width: 38%;

    > .boolean {
      color: $color-bad;
      font-size: $font-size + 2;
      transition: all $transition-duration-fast $transition-ease;

      &.is-true {
        color: $color-good;
      }
    }

    &.is-chart {
      width: 42%;
    }
  }

  > .left {
    &.is-chart {
      > .chart {
        margin: 0 0 0 auto;
      }
    }
  }

  > .title {
    color: $color-font-default-faded;
    font-family: $font-family-default;
    font-size: $title-font-size;
    text-transform: lowercase;
    transition: all $transition-duration-fast $transition-ease;
    width: 24%;

    &.is-chart {
      width: 16%;
    }
  }

  .chart {
    color: $color-font-skills;
    font-size: 10px;
    height: 13px;
    padding: 1px 5px 0;
    text-align: left;
    transition: all $transition-duration-fast $transition-ease;

    &.is-none {
      background-color: $color-skill-1;
      width: 25%;
    }

    &.is-familiar {
      background-color: $color-skill-2;
      width: 50%;
    }

    &.is-good {
      background-color: $color-skill-3;
      width: 75%;
    }

    &.is-expert {
      background-color: $color-skill-4;
      width: 100%;
    }
  }

  > .left {
    &.is-chart {
      > .chart {
        text-align: right;
      }
    }
  }

  &:hover {
    background: $color-card-background-hover;
    cursor: pointer;
    font-size: $font-size + 2;
    margin: 0 0 3px;

    > .left,
    > .right {
      > .boolean {
        font-size: $font-size + 8;
      }
    }

    > .title {
      color: $color-bad;
      font-size: $title-font-size + 2;
      font-weight: bold;
    }

    &.is-equal {
      > .title {
        color: $color-good;
      }
    }

    .chart {
      transform: scale(1.3);
      transform-origin: center left;
    }

    > .left {
      &.is-chart {
        > .chart {
          transform-origin: center right;
        }
      }
    }
  }
}
