{{outlet}}

<div class="main-logo">
  {{fa-icon icon="heart" class="logo"}}
</div>

<div class="card card-samples">
  <h2 class="title">Samples</h2>
  {{#link-to "index.prospect" "cyarbrough" class="link"}}
    C. Yarbrough
  {{/link-to}}
  <br><br>
  {{#link-to "index.prospect" "beverydev" class="link"}}
    Billy Everydev
  {{/link-to}}
</div>
